// ----------------------------------------------------------
// \file assets\sass\_base.scss
// \author Cyril POIDEVIN
// \version 0.0.1
//
// Basing style
// ----------------------------------------------------------

@import 'mixins/transform';
@import 'mixins/transition';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $primary-font-rgba;
}

body {
  background-color: $background-hex;
}

a {
  color: $primary-4-hex;
}

.site-pusher, .site-container { height: 100%; }
.site-container { overflow: hidden; }

.site-pusher {
  @include transition-duration(0.3s);
  @include transform(translateX(0px));
}

.with--sidebar {
  .site-pusher {
    @include transform(translateX($menu-width));
  }
}