// ----------------------------------------------------------
// \file assets\sass\_content.scss
// \author Cyril POIDEVIN
// \version 0.0.1
//
// Styling the content
// ----------------------------------------------------------

// ----------------------------------------------------------
// 1. Site content
// ----------------------------------------------------------
.site-content {
  padding-top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Inertie sur iOS */
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


// ----------------------------------------------------------
// :: 1.2. Site content when the 'with--sidebar' class
//         is present
// ----------------------------------------------------------
.with--sidebar .site-cache {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }