// ----------------------------------------------------------
// \file assets\sass\_sidebar.scss
// \author Cyril POIDEVIN
// \version 0.0.1
//
// Styling the sidebar
// ----------------------------------------------------------

@import 'mixins/box';
@import 'mixins/transition';

// ----------------------------------------------------------
// 1. Sidebar
// ----------------------------------------------------------
.sidebar {
  margin: 10px 0;
  padding: 10px;
  background-color: transparent;

// ----------------------------------------------------------
// 1.1 Widget in sidebar
// ----------------------------------------------------------
  .widget {
    background-color: $widget-background-rgba;
    @include border-radius(20px);
    padding: 20px;
    margin: 10px 0;

// ----------------------------------------------------------
// 1.1.1 Search widget
// ----------------------------------------------------------
    &.widget_search form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;

      .search-submit {
        display: inline-block;
        margin: 1rem;
        padding: .938em 1.875em;
        border: .094em solid;
        border-radius: .625em;
        box-shadow: 0 .375em .313em -.313em rgba(black,.8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black,.15);
        color: #FFF;
        font: bold 0.7rem sans-serif;
        @include transition(0.2s ease-in-out);
        text: {
          transform: uppercase;
          decoration: none;
          shadow: 0 .063em rgba(black,.3);
        }
        cursor:pointer;
        border-color: darken($primary-2-hex, 20%);
        background-color: $primary-2-hex;
        &:hover {
          background-color: darken($primary-2-hex, 6%);
          box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($primary-2-hex, 2%);
        }
        &:active {
          box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($primary-2-hex, 40%), inset 0 .063em darken($primary-2-hex, 20%),inset 0 -0.188em darken($primary-2-hex, 20%);
        }
      }
    }
  }
}