// ----------------------------------------------------------
// \file assets\sass\_variables.scss
// \author Cyril POIDEVIN
// \version 0.0.1
//
// Define all variables
// ----------------------------------------------------------

// ----------------------------------------------------------
// 1. Colors
// ----------------------------------------------------------

// ----------------------------------------------------------
// :: 1.1. Hexadecimal
// ----------------------------------------------------------
// Primary Colors
$primary-0-hex: #5C9632;
$primary-1-hex: #0C1D00;
$primary-2-hex: #2D5A0E;
$primary-3-hex: #97D36C;
$primary-4-hex: #C8F3A9;
// Background Colors
$background-hex: #202020;

// ----------------------------------------------------------
// :: 1.2. RGBA
// ----------------------------------------------------------
// Primary Colors
$primary-0-rgba: rgba( 92,150, 50,1);
$primary-1-rgba: rgba( 12, 29,  0,1);
$primary-2-rgba: rgba( 45, 90, 14,1);
$primary-3-rgba: rgba(151,211,108,1);
$primary-4-rgba: rgba(200,243,169,1);
// Background Colors

// ----------------------------------------------------------
// 2. Header
// ----------------------------------------------------------

// ----------------------------------------------------------
// :: 2.1. Size of the header
// ----------------------------------------------------------
$header-height : 66px;

// ----------------------------------------------------------
// 3. Menu
// ----------------------------------------------------------

// ----------------------------------------------------------
// :: 3.1. Size of the menu
// ----------------------------------------------------------
$menu-width : 250px;