// ----------------------------------------------------------
// \file assets\sass\adminStyle.scss
// \author Cyril POIDEVIN
// \version 0.0.1
//
// Admin StyleSheet
// ----------------------------------------------------------

// ----------------------------------------------------------
// 1. Variables
// ----------------------------------------------------------
$alert-color: #2D5A0E;
$success-background: #97D36C;

// ----------------------------------------------------------
// 2. General
// ----------------------------------------------------------

// ----------------------------------------------------------
// :: 2.1 Row
// ----------------------------------------------------------
.row {
  margin: 10px 0;
}

// ----------------------------------------------------------
// :: 2.2. Alert
// ----------------------------------------------------------
.alert {
  color: $alert-color;
  text-align: center;
  padding: 15px;

  &.success {
    background-color: $success-background;
  }
}

// ----------------------------------------------------------
// 3. Form
// ----------------------------------------------------------
.vgm-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

label {
  font-size: 150%;
  font-weight: bold;
}