// ----------------------------------------------------------
// \file assets\sass\responsive\_tablet.scss
// \author Cyril POIDEVIN
// \version 0.0.1
//
// Redisign for tablet
// ----------------------------------------------------------

@import '../mixins/box';

@media (min-width: $breakpoint-tablet) {
// ----------------------------------------------------------
// 1. Site Content
// ----------------------------------------------------------
  .site-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .sidebar {
    margin: 10px 0 0 0;
    @include border-radius(20px);
  }

  .footer, .sidebar {
    background-color: transparent;
  }
}
