* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  line-height: 66px;
  position: static;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 66px;
  background-color: #5c9632;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__logo img {
  width: 10vw;
  height: auto;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__title h1 {
  color: #c8f3a9;
}

.header__title p {
  color: #2d5a0e;
}

.site-content {
    /* Inertie sur iOS */
  position: absolute;
  top: 66px;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
  -webkit-overflow-scrolling: touch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
